{% extends 'base.html' %}

{% block content %}
{% if query %}
    <ul class="thumbnails">
    {% for result in page.object_list %}
      <li class="span3 thumbnailBg">
            <a class="thumbnail" href="{{ result.object.get_absolute_url }}"><img src="{{ STATIC_URL }}images/{{result.object.image}}" alt=""></a>
            <h4><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h4>
            <p>{{ result.object.instructions|striptags|slice:":230" }}</p>
            <p class="moreInfo"><a href="{{ result.object.get_absolute_url }}" class="innerlink"><i>{{"More Info ..."}}</i></a>       </p>
        </li>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
    </ul>

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
