<!DOCTYPE html>
<html lang="en">
<head>
{% block title_head %}
<title>{% block title %}{% endblock %}RecipeCenter.in: Best Site for free recipes.</title>
{% endblock %}

<link href="{{STATIC_URL}}elements/css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}elements/css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{STATIC_URL}}elements/css/recipecenter.css" rel="stylesheet">
</head>

<body>


<header class="header"><!--Header Starts-->
	<div class="container">
		<div class="row-fluid">
			<div class="span2">
				<div class="logo"><a href="/">
					<img src="{{STATIC_URL}}elements/images/recipecenter_logo.png" alt="Recipe Center" title="Recipe Center"></a>
				</div>
			</div>
			<div class="span10">
				<div class="banner"><img src="{{STATIC_URL}}elements/images/banner-1.png" alt=""></div>
			</div>
		</div>
	</div>
</header><!--Header Ends-->
<div class="container"><!--Content Starts-->
    <div class="row">
        <div class="span3"><!--left Navigation-->
            {% if categobj.count %}
            <ul class="nav sidenav">
				<li class="tophead">Categories</li>
            	{% for categ in  categobj %}
                <li><a href="{% url 'category' categ.slug %}">{{ categ.name }} </a> </li>
            	{% endfor %}
            </ul>
            {% else %}
            <p> Screwed </p>
            {% endif %}
        </div>
        <div class="span9"><!--Right Content Starts-->
          {% block content %}

          {% endblock %}

        </div><!--Right Content ends-->
    </div>
</div><!--Content Ends-->
<footer class="footer">
      <div class="container">
        <div class="span2">
        	<h5>Contact Us</h5>
            Email: <a href="mailto:hello@recipecenter.in">hello@recipecenter.in</a><br>
			<a href="http://agiliq.com" target="_blank">About Us </a><br>
			<a href="http://agiliq.com/contactus" target="_blank">Contact Us </a>
			<br><br><br><br>

        </div>
        <div class="span7">
        	<h5>Categories</h5>
        	{% if categobj.count %}
            <ul>
				{% for categ in  categobj %}
                <li><a href="{% url 'category' categ.slug %}">{{ categ.name }} </a> </li>
            	{% endfor %}
            </ul>
            {% else %}
            <p> Screwed </p>
            {% endif %}
        </div>
        <div class="span2">
        	<h5>Newsletters</h5>
        	<ul>
            	<li><a href="">Newsletters </a></li>
                <li><a href="">Press Center </a></li>
                <li><a href="">Privacy Policy </a></li>
                <li><a href="">Terms of Use </a></li>
            </ul>
        </div>
		<div class="copyright"><span>Developed by <a href="http://www.agiliq.com" target="_blank">Agiliq</a></span> &nbsp; &copy; 2013 Recipe Center.in

		</div>

      </div>
    </footer>
<script type='text/javascript'>
pps = document.getElementsByTagName("p")

$(pps).each(function(){
if(this.textContent.trim() == "")
this.remove()
})
</script>
</body>
</html>
