{% extends 'base.html' %}

{% block content %}
{% for dish  in category_dishes.object_list %} 
    <ul>
    <li><a href="{% url recipe_detail recipe_id=dish.slug %}">{{dish.name }}</a></li>
  
     <div class="thumbnail-large"> 
         <img src="{{ STATIC_URL }}{{dish.image}}" />
                        <!--             <a href=""><img src="static/elements/images/sample-food/food-1.jpg" width="300" height="220" alt="" /></a> -->
                        <!--       </div> -->
     <div class="text">
       </br>
       {{dish.ingredients|slice:":180"}}
       <a href="{% url recipe_detail recipe_id=dish.slug %}">{{"read more ...."}}</a>
       </br>
       </br>
       </br>
       {{dish.instructions|slice:":180"}}
       <a href="{% url recipe_detail recipe_id=dish.slug %}">{{"read more ...."}}</a>       
       </br>
       </br>
     </div>
    </ul>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if category_dishes.has_previous %}
            <a href="?page={{ category_dishes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ category_dishes.number }} of {{ category_dishes.paginator.num_pages }}.
        </span>

        {% if category_dishes.has_next %}
            <a href="?page={{ category_dishes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}


