{% extends 'base.html' %}

{% block title %} Recipes about {{ category_dishes.object_list.0.category }} - {% endblock %}

{% block content %}
<ul class="thumbnails">
{% for dish  in category_dishes.object_list %}

    <li class="span3 thumbnailBg">
      <a class="thumbnail" href="{{ dish.get_absolute_url }}">
        <img src="{{ STATIC_URL }}images/{{dish.image}}" alt="">
      </a>
      <h4><a href="{{ dish.get_absolute_url }}">{{dish.name }}</a></h4>
      <p>{{dish.instructions|safe|slice:":200"}}</p>
      <p class="moreInfo"><a href="{{ dish.get_absolute_url }}" class="innerlink">More Info...</a></p>
    </li>

{% endfor %}
</ul>

<div class="pagination pull-right">
    <span class="step-links">
        {% if category_dishes.has_previous %}
            <a href="?page={{ category_dishes.previous_page_number }}"> Previous </a>
        {% endif %}

        <span class="current">
            Page {{ category_dishes.number }} of {{ category_dishes.paginator.num_pages }}.
        </span>

        {% if category_dishes.has_next %}
            <a href="?page={{ category_dishes.next_page_number }}"> Next </a>
        {% endif %}
    </span>
</div>
{% endblock %}


