{% extends 'base.html' %}
{% block title_head %}
<title> Details of  {{recipe.name}} </title>
{% endblock %}
{% block content %}
<h1> {{ recipe.name }} </h1>

    <img src="{{ STATIC_URL }}images/{{recipe.image}}" />
    {% empty %}
    <img src="http://recipes.agiliq.com/static/images/1172133326FROZENBANANA.jpg" />


    </br>
<p>  The way to prepare it is:</p>
<div class="text">
{{ recipe.instructions|safe }}
</div>
</br> </br> </br>
<p>The ingredients are: </p>
<div class="text">
{{ recipe.ingredients|safe }}
</div>
</br> </br>

{% load comments %}
<p> Rate the recipe item </p> <br>
<a href= {%url vote object_id=recipe.id, score=1%}> Score 1 </a> </br>
<a href= {%url vote object_id=recipe.id, score=2%}> Score 2 </a> </br>
<a href= {%url vote object_id=recipe.id, score=3%}> Score 3 </a> </br>
<a href= {%url vote object_id=recipe.id, score=4%}> Score 4 </a> </br>
{% load ratings %}
{% rating_by_request request on recipes.rating as vote %}
{{ vote }}
<h4> Comments: </h4>
{% render_comment_list for recipe %}

{% render_comment_form for recipe %}
 {% endblock %}
