{% extends 'base.html' %}

{% block title %}{{recipe.name}} - {% endblock %}

{% block content %}

<div class="inner_content">
	<h3> {{ recipe.name }} </h3>
	<img src="{{ STATIC_URL }}images/{{recipe.image}}" />
	<h5>  The way to prepare it is:</h5>
	<p>{{ recipe.instructions|safe }}</p>
	</br> </br> </br>
	<h5>The ingredients are: </h5>
	<p>{{ recipe.ingredients|safe }}</p><br><br>
	<h5>Rate the recipe item</h5>
	<p> <a href= {%url vote object_id=recipe.id, score=1%} class="btn btn-mini btn-primary"> Score 1 </a>
		<a href= {%url vote object_id=recipe.id, score=2%} class="btn btn-mini btn-primary"> Score 2 </a>
		<a href= {%url vote object_id=recipe.id, score=3%} class="btn btn-mini btn-primary"> Score 3 </a>
		<a href= {%url vote object_id=recipe.id, score=4%} class="btn btn-mini btn-primary"> Score 4 </a>
		{% load ratings %}
		{% rating_by_request request on recipes.rating as vote %}
		{{ vote }}
	</p><br>
	<h4>Comments: </h4>
	<form class="form-horizontal">
		<div class="control-group">
        <label class="control-label" for="inputName">Name:</label>
        <div class="controls"><input type="text" id="inputName"></div>
		</div>
        <div class="control-group">
        <label class="control-label" for="inputEmail">Email Address:</label>
        <div class="controls"><input type="text" id="inputEmail"></div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputURL">URL:</label>
        <div class="controls"><input type="text" id="inputURL"></div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputcomment">Comment:</label>
        <div class="controls"><textarea rows="3"></textarea></div>
        </div>
        <div class="control-group">
        <div class="controls"><button type="submit" class="btn btn-inverse">Post</button>&nbsp; &nbsp;
          <button type="submit" class="btn btn-inverse">Reset</button></div>
        </div>
    </form>
</div>
<!--</br> </br>

{% load comments %}
<p> Rate the recipe item </p> <br>
<a href= {%url vote object_id=recipe.id, score=1%}> Score 1 </a> </br>
<a href= {%url vote object_id=recipe.id, score=2%}> Score 2 </a> </br>
<a href= {%url vote object_id=recipe.id, score=3%}> Score 3 </a> </br>
<a href= {%url vote object_id=recipe.id, score=4%}> Score 4 </a> </br>
{% load ratings %}
{% rating_by_request request on recipes.rating as vote %}
{{ vote }}
<h4> Comments: </h4>
{% render_comment_list for recipe %}

{% render_comment_form for recipe %}-->
 {% endblock %}
