{% extends 'base.html' %}

{% block content %}
<ul class="thumbnails">
{% for dish  in recipe_list %}

	<li class="span3 thumbnailBg">
		<a class="thumbnail" href="{% url 'recipe_detail' recipe_id=dish.slug %}"><img src="{{ STATIC_URL }}images/{{dish.image}}" alt=""></a>
		<h4><a href="{% url 'recipe_detail' recipe_id=dish.slug %}">{{dish.name }}</a></h4>
		<p>{{dish.instructions|striptags|slice:":260"}}</p>
    	<p class="moreInfo"><a href="{% url 'recipe_detail' recipe_id=dish.slug %}" class="innerlink"><i>{{"More Info ..."}}</i></a>       </p>
  	</li>
{% endfor %}
</ul>
{% endblock %}
