{% extends 'base.html' %}
{% block title_head %}
<title> Welcome to  RecipeCenter  </title>
{% endblock %}
{% block content %}
{% for dish  in recipe_list %} 
   
    <ul>
    <li><h1><b><a href="{% url recipe_detail recipe_id=dish.slug %}">{{dish.name }}</a></h1></b></li>
  <br/>
        
         <img src="{{ STATIC_URL }}images/{{dish.image}}" width=150px />
         {% empty %}
          <img src="http://recipes.agiliq.com/static/images/1172133326FROZENBANANA.jpg" />

                        <!--             <a href=""><img src="static/elements/images/sample-food/food-1.jpg" width="300" height="220" alt="" /></a> -->
                        <!--       </div> -->
     <div class="text">
        {{dish.instructions|safe|slice:":280"}}
       <a href="{% url recipe_detail recipe_id=dish.slug %}"><i>{{"read more ..."}}</i></a>       
       </br></br></br>
       
     </div>
    </ul>
{% endfor %}
{% endblock %}
